<app-navbar></app-navbar>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let user of users" class="col-md-8 col-xl-5">
            <div class="card m-b-70">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{user?.imageUrl}}" alt="" class="img-fluid rounded-circle w-50"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{user.name}} {{user.surname}}</h5>
                        <p class="m-0">{{user.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email: <a href="#">{{user.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone: {{user.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a  (click)="onOpenModal(user, 'edit')" href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a  (click)="onOpenModal(user, 'delete')" href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
         <!-- Edit Modal -->
<div class="modal fade" id="updateUserModal" tabindex="-1" role="dialog" aria-labelledby="userEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateUserModalLabel">Edit {{editUser?.name}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm" >
                <div class="form-group">
                   <label for="name">Name</label>
                   <input type="text" ngModel="{{editUser?.name}}" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Name">
                </div>
                <input type="hidden" ngModel="{{editUser?.id}}" name="id" class="form-control" id="id" placeholder="id">
                <input type="hidden" ngModel="{{editUser?.userCode}}" name="userCode" class="form-control" id="userCode" placeholder="Email">
                <div class="form-group">
                   <label for="email">Email Address</label>
                   <input type="email" ngModel="{{editUser?.email}}" name="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                   <label for="phone">Job title</label>
                   <input type="text" ngModel="{{editUser?.jobTitle}}" name="jobTitle" class="form-control" id="jobTitle" placeholder="Job title">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input type="text" ngModel="{{editUser?.phone}}" name="phone" class="form-control" id="phone" name="phone" placeholder="Phone">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input type="text" ngModel="{{editUser?.imageUrl}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateUser(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>

  <!-- Delete Modal -->
</div>

     

<router-outlet></router-outlet>
